.people{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    
    img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 20px;
    }
    .infos{
        p{
            margin-top: 5px;
            color: gray;
        }
    }
}